.general-info {
    background-color: #1E2939;
    width: 450px;
    height: auto;
    padding: 40px;
}
.info-list{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.foto {
    border-radius: 10px;
    margin-bottom: 20px;
  }

.info-title {
    color:#ffffff;
}

.contact-icon {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    stroke: #ffffff;
    fill: #ffffff;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon:hover,
.contact-icon:focus {
    stroke: #2196F3;
    fill: #2196F3
}

.contact-items {
    color: #ffffff;
    font-size: 12px;
    list-style-type: none;
    margin-top: 10px;
}

.contact-link {
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.info-items {
    color: #ffffff;
    font-size: 12px;
    margin-top: 10px;
}