.change-lang {
  text-align: end;
}

.title {
  margin-bottom: 40px;
  text-align: center;
}

.title-name {
  margin-bottom: 20px;
}

.main-title {
  color: black;
}

.main-text {
  text-align: justify;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: black;
}
.project-items {
  list-style-type: none;
}

.project-items:last-child {
  margin-top: 20px;
}
.text-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.allocate {
  font-weight: 600;
}

.download {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  cursor: pointer;
  color: #fff;
  border: 2px solid rgb(255, 166, 0);
  border-radius: 25px;
}

.link:hover,
.link:focus {
  color: #2196F3;
  background-color: transparent;
  background-color: rgb(249, 218, 160);
}